{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h1>Add Plink Option</h1>
      <hr/>
      <div class="well">
          <div class="row">
            <div class="col-md-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                    {% endfor %}

                        <input type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}